* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif; /* Sans-serif for other texts */
  }
  
  .home,
  .about-us,
  .faqs,
  .login {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #fff; /* White text for better contrast on colored backgrounds */
  }
  
  /* Use the specified color instead of background images */
  .about-us {
    background-color: #86d9d2; /* Change to the specified color */
    color: #fff;
    font-size: 100px;
  }
  
  .faqs {
    background-color: #86d9d2; /* Change to the specified color */
    color: #fff;
    font-size: 100px;
  }
  
  .login {
    background-color: #86d9d2; /* Change to the specified color */
    color: #fff;
    font-size: 100px;
  }
  
  /* Style for logo text */
  .logo-text {
    font-family: 'One Trick Pony', sans-serif; /* Use One Trick Pony font for logo text */
    font-size: 2.5rem; /* Adjust size as needed */
    color: #fff; /* Change logo text color to white */
  }
  
